body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background-color: #ebebeb;
    color: rgb(0, 0, 0);
    padding: 1rem 0;
    text-align: center;
}
header h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
    margin-left: 10px;
    padding-left: 50px ;
}
.icon{
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    
}

#select {
    border: none;
    font-size: 17px;
}

.select1 {
    font-size: 17px;
}

.cadre{
    text-align: center;
    background-color: #ebebeb;
    width: 500px;
    margin-left: 30%;
}

.cadre p {
    color: rgb(15, 177, 177);
}

.buttoncadre{
    background-color: #000000;
    color: #ebebeb;
    height: 50px;
    width: 100px;
}

.tete1{
    height: 400px;
    backdrop-filter: blur(2px);
}

.imageshop{
    display: flex;
    height: 500px;
    width: 500px;
    margin-left: 50px;
    margin-top: 15px;
    float: left;
}

footer {
    background-color: #eed2d2;
    color: #000000;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%;
}